*{
    color: #fd5602;
    /* color: rgb(253, 86, 2); */

    color: #FE6E00;
    /* color: rgb(254, 110, 0); */

    color: #FF8303;
    /* color: rgb(255, 131, 3); */

    color: #FEDEBE;
    /* color: rgb(254, 222, 190); */
    
    color: #FFAF42;
    /* color: rgb(255, 175, 66); */

    
    /* background-color: rgb(253, 243, 232); */
}